﻿@using ischool.Models;
@model ischool.Controllers.ContributionModel

@{
    ViewBag.Title = "Index";
}

<h1>贡献相关</h1>
<p>
    @Html.ActionLink("教材", "Index","Textbook")
</p>
@if (Model.TextbookModel.Count != 0)
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Textbook.StaffInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Textbook.Book)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Textbook.Press)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Textbook.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Textbook.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Textbook.Words)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Textbook.Score)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.TextbookModel) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StaffInfo.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Press)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Words)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit","Textbook", new { id= item.Id }, htmlAttributes:null) |
            @Html.ActionLink("Details", "Details", "Textbook",new { id= item.Id }, htmlAttributes: null) |
            @Html.ActionLink("Delete", "Delete", "Textbook", new { id= item.Id }, htmlAttributes: null)
        </td>
    </tr>
    }
</table>
}
<p>
    @Html.ActionLink("教学及科研成果奖", "Index", "Award")
</p>
@if (Model.AwardModel.Count != 0)
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Award.StaffInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Award.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Award.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Award.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Award.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Award.TotalNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Award.Sequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Award.PersonalScore)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.AwardModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalScore)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Award", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "Award", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", "Award", new { id = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
}
<p>
    @Html.ActionLink("课程建设", "Index", "CourseDevelop")
</p>
@if (Model.CourseDevelopModel.Count != 0)
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseDevelop.StaffInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDevelop.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDevelop.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDevelop.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDevelop.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDevelop.TotalNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDevelop.Sequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDevelop.PersonalScore)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.CourseDevelopModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalScore)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "CourseDevelop", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "CourseDevelop", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", "CourseDevelop", new { id = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
}

<p>
    @Html.ActionLink("教学名师", "Index", "TeacherAward")
</p>
@if (Model.TeacherAwardModel.Count != 0)
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeacherAward.StaffInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherAward.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherAward.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherAward.Score)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.TeacherAwardModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "TeacherAward", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "TeacherAward", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", "TeacherAward", new { id = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
}

<p>
    @Html.ActionLink("教师技能竞赛", "Index", "TeacherSkill")
</p>
@if (Model.TeacherSkillModel.Count != 0)
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeacherSkill.StaffInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherSkill.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherSkill.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherSkill.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherSkill.Award)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherSkill.Score)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.TeacherSkillModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Award)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "TeacherSkill", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "TeacherSkill", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", "TeacherSkill", new { id = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
}

<p>
    @Html.ActionLink("论文", "Index", "Paper")
</p>
@if (Model.PaperModel.Count != 0)
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Paper.StaffInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paper.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paper.Journal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paper.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paper.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paper.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paper.TotalNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paper.Sequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paper.PersonalScore)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.PaperModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Journal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalScore)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Paper", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "Paper", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", "Paper", new { id = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
}

<p>
    @Html.ActionLink("指导竞赛", "Index", "Competition")
</p>
@if (Model.CompetitionModel.Count != 0)
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Competition.StaffInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competition.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competition.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competition.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competition.Award)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competition.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competition.TotalNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competition.Sequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competition.PersonalScore)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.CompetitionModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Award)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalScore)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Competition", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "Competition", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", "Competition", new { id = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
}

<p>
    @Html.ActionLink("科技立项", "Index", "Project")
</p>
@if (Model.ProjectModel.Count != 0)
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project.StaffInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.TotalNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.Sequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.PersonalScore)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ProjectModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalScore)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Project", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "Project", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", "Project", new { id = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
}

<p>
    @Html.ActionLink("主持或参与教改及科研项目", "Index", "Research")
</p>
@if (Model.ResearchModel.Count != 0)
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Research.StaffInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Research.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Research.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Research.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Research.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Research.TotalNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Research.Sequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Research.PersonalScore)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ResearchModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalScore)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Research", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "Research", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", "Research", new { id = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
}


<p>
    @Html.ActionLink("实验中心横向科研可提成经费", "Index", "Fund")
</p>
@if (Model.FundModel.Count != 0)
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fund.StaffInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fund.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fund.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fund.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fund.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fund.TotalNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fund.Sequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fund.PersonalScore)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.FundModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalScore)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Fund", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "Fund", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", "Fund", new { id = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
}


<p>
    @Html.ActionLink("专利", "Index", "Patent")
</p>
@if (Model.PatentModel.Count != 0)
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patent.StaffInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patent.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patent.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patent.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patent.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patent.TotalNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patent.Sequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patent.PersonalScore)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.PatentModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalScore)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Patent", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "Patent", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", "Patent", new { id = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
}


<p>
    @Html.ActionLink("对外辐射与服务", "Index", "Serve")
</p>
@if (Model.ServeModel.Count != 0)
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Serve.StaffInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serve.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serve.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serve.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serve.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serve.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serve.TotalNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serve.Sequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serve.PersonalScore)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ServeModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalScore)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Serve", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "Serve", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", "Serve", new { id = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
}


<p>
    @Html.ActionLink("实验室建设", "Index", "Construct")
</p>
@if (Model.ConstructModel.Count != 0)
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Construct.StaffInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Construct.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Construct.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Construct.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Construct.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Construct.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Construct.TotalNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Construct.Sequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Construct.PersonalScore)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ConstructModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalScore)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Construct", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "Construct", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", "Construct", new { id = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
}


<p>
    @Html.ActionLink("实验室安全卫生、自制实验设备", "Index", "SafeAndProduce")
</p>
@if (Model.SafeAndProduceModel.Count != 0)
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SafeAndProduce.StaffInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafeAndProduce.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafeAndProduce.Room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafeAndProduce.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafeAndProduce.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafeAndProduce.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SafeAndProduce.PersonalScore)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.SafeAndProduceModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalScore)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "SafeAndProduce", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "SafeAndProduce", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", "SafeAndProduce", new { id = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
}


<p>
    @Html.ActionLink("设备维护", "Index", "Maintenance")
</p>
@if (Model.MaintenanceModel.Count != 0)
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Maintenance.StaffInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maintenance.Room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maintenance.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maintenance.Ratio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maintenance.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maintenance.PersonalScore)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.MaintenanceModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ratio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalScore)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Maintenance", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "Maintenance", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", "Maintenance", new { id = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
}


<p>
    @Html.ActionLink("担任或兼任党政职务", "Index", "Charge")
</p>
@if (Model.ChargeModel.Count != 0)
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Charge.StaffInfo.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Charge.Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Charge.Duty)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Charge.Score)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ChargeModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Charge", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "Charge", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", "Charge", new { id = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
}


<p>
    @Html.ActionLink("其他贡献", "Index", "OtherContribute")
</p>
@if (Model.OtherContributeModel.Count != 0)
{
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OtherContribute.StaffInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherContribute.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherContribute.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherContribute.Score)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OtherContributeModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "OtherContribute", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Details", "Details", "OtherContribute", new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", "OtherContribute", new { id = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
}