﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>欢迎使用信息化平台</h1>
    <p class="lead">信息化平台将帮助您的工作和生活更方便、更快捷</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>个人信息</h2>
        <p>
            查看个人信息
        </p>
        <p>@Html.ActionLink("个人信息", "InfoDetails", "Account", routeValues: null, htmlAttributes: new { Class = "btn btn-default"})</p>
    </div>
    <div class="col-md-4">
        <h2>科研相关</h2>
        <p>个人科研相关信息的录入和查询等</p>
        <p>@Html.ActionLink("贡献相关", "Index", "Contribution", routeValues: null, htmlAttributes: new { Class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>